body {
}
div.entry {
    margin-bottom: 32px;
}
div.entry h2 a {
    color: inherit;
}
div.entry .created a {
    color: inherit;
    text-decoration:none;
}
h1 a {
    color: inherit;
}
h3 {
    margin-top: 12px;
}
.comments {
    margin-bottom: 48px;
}
.comment {
    clear:both;
    border-top: 1px solid #ccc;
    padding: 3px;
}
.comment .left {
    float: left;
    width: 130px;
}
.comment .name {
    font-weight:bold;
}
.comment .date {
    clear:right;
}
.comment .comment-text {
    margin-left: 140px;
}
